body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
table,td,tr{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}